trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  AWS_REGION: af-south-1
  AWS_ACCOUNT_ID: 593793022607
  CLUSTER_NAME: eks-sample-cluster
  ECR_REPO: eks-sample-app

steps:
- checkout: self

# =====================================================
# 1️⃣ Build & Push Docker Image to Amazon ECR
# =====================================================
- task: AWSShellScript@1
  displayName: Build and Push Image to ECR
  inputs:
    awsCredentials: aws-eks-connection
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -e

      aws ecr get-login-password --region $(AWS_REGION) \
      | docker login --username AWS --password-stdin \
        $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com

      docker build -t $(ECR_REPO):latest -f docker/Dockerfile .
      docker tag $(ECR_REPO):latest \
        $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com/$(ECR_REPO):latest
      docker push \
        $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com/$(ECR_REPO):latest

# =====================================================
# 2️⃣ Configure kubectl & Deploy to EKS
# =====================================================
- task: AWSShellScript@1
  displayName: Configure kubeconfig & Deploy to EKS
  inputs:
    awsCredentials: aws-eks-connection
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -e

      aws sts get-caller-identity
      aws eks update-kubeconfig \
        --name $(CLUSTER_NAME) \
        --region $(AWS_REGION)

      kubectl get nodes
      kubectl apply -f k8s/deployment.yaml
      kubectl apply -f k8s/service.yaml
